.header {
    background-image: 
    background-size: cover;
    min-height: 500px;
    background-position: center;
}
.header__social-icons img {
    width: 33px;
}
.header__item {
    width: 186px;
}
.header__title {
    color: var(--white-color);
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}